html,
body {
    font-family: 'Roboto Mono', sans-serif;
    padding: 0;
    margin: 0;
}

.reactors-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.reactor-preview-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: auto;
}

.reactor-preview-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.reactor-preview-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.reactor-preview-image {
    width: 230px;
    height: 300px;
}

.reactor-view-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reactor-view-btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MuiToolbar-root {
    background-color: lightgray;
    font-family: 'Roboto Mono', sans-serif;
}

.MuiTypography-root.MuiTypography-h6 {
    font-family: 'Roboto Mono', sans-serif;
    color: #0B3954;
}

.MuiButtonBase-root.MuiButton-text {
    font-family: 'Roboto Mono', sans-serif;
    color: #0B3954;
}

#powerName {
    padding-top: 70px;
    padding-right: 20px;
    text-align: right;
    color: #0B3954;
}

.form {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}
.graph {
    background: lightgray;
    display: flex;
    justify-content: center;
    height: 320px;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

#reactorName {
    padding-top: 70px;
    padding-right: 20px;
    text-align: right;
    color: #0B3954;
}